
<div class="container search-panel">
  <div class="form-group col-sm-6 col-sm-offset-2">
    <h1>Search Github Repos by DBC Cohort</h1>
    <input type="text" name="cohort" class="form-control" placeholder="NYC Dragonflies"/><br/>
    <button class="btn btn-lg btn-primary">Find most recent repos</button>
  </div>
</div>
<hr/>
<div class="container display-panel"></div>
